--langdef=markdown
--langmap=markdown:.markdown.md
--regex-markdown=/^#[ \t]+(.*)/\1/h,H1/
--regex-markdown=/^#{2}[ \t]+(.*)/\1/i,H2/
--regex-markdown=/^#{3}[ \t]+(.*)/\1/j,H3/
--regex-markdown=/^#{4}[ \t]+(.*)/\1/k,H4/
--regex-markdown=/^#{5}[ \t]+(.*)/\1/l,H5/
--regex-markdown=/^#{6}[ \t]+(.*)/\1/m,H6/
